#mainCol {
	float: right;
	width: 67%;
	border-left: 1px solid;
	border-bottom: 1px solid;
	margin-right: 15px;
	padding-bottom: 20px;
}

#mainCol p {
	margin: 1cm;
	border-bottom: 1px solid black;
}

#mainCol p.noBorder {
	border-bottom: 0px none;
}

#navcol {
	
}

a:link {
	text-decoration: none;
	font-weight: bold;
	color: rgb(0, 64, 128);
}

a:visited {
	text-decoration: none;
	font-style: italic;
	color: rgb(128, 128, 255);
}

a:hover {
	color: white;
	background-color: rgb(0, 0, 255);
}

a:hover img {
	color: black;
	background-color: transparent;
}

a:active {
	color: black;
	background-color: rgb(10, 10, 255);
}

a:focus {
	color: white;
	background-color: rgb(0, 0, 64);
}

ul.screenshots li img {
	padding: 0.5cm 0.1cm 1.6cm 1.1cm;
	border: 0px dashed green;
}

#headline {
        height:70px;
        border-bottom:1px solid;
        border-right:1px solid;
        border-left:1px solid;
        voice-family: "\"}\"";
        voice-family: inherit;
	text-align: center;
}


body {
	background-image: url(http://images.message-center.info/steel3.jpg);
        font-size:medium;
        font-family:tahoma, verdana, helvetica, sans-serif;
}


.tdBanner {
	color: inherit;
	background-image: url(http://xfree86.cygwin.com/images/blackLines.gif);
	background-color: #376806;
	text-align: right;
	height: 113px;
}

.companyName {
	font-weight: bold;
	font-size: 22pt;
	color: #ffffff;
	background-color: transparent;
	margin-right: 5cm;
}

.headlineContainer {
	margin-right: 1cm;
	direction: rtl;
}

img.XFreeLogo {
	height: 100%;
	width: 120px;
	vertical-align: middle;
}

